@{
    ViewData["Title"] = "Page not found";
}

<div class="text-center">
    <h1 class="display-4">Page not found</h1>
    <hr />
    <p>
        The searched page was not found.<br />
        If you can't find the searched word, you can add it <a href="#AddSynonymModal" data-bs-toggle="modal" data-bs-target="#AddSynonymModal">Here</a>
    </p>
    <a asp-area="" asp-controller="Synonym" asp-action="Index">Return back to homepage</a>
</div>
