@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Synonym app.</h1>
    <hr/>
    <p>
        In order to find a synonym please use the searchbox above.<br/>
        If you can't find the searched word, you can add it <a href="#AddSynonymModal" data-bs-toggle="modal" data-bs-target="#AddSynonymModal">Here</a>
    </p>
</div>
